.menue_dash{
    -fx-background-color:gray;
}
.hover_menue:hover{
    -fx-background-color:rgba(63, 159, 245, 0.89) !important;
    -fx-text-fill: white;
    -fx-border-color:blue;
    -fx-border-width:0px 0px 0px 5px;
    -fx-cursor:hand;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
}

.h1{
    -fx-background-color:transparent;
        -fx-text-fill:#ffffff;
        -fx-font-family: TRON;
        -fx-font-size: 20px;
        -fx-font-weight: bold;

}
.h1.pane{
    -fx-pref-height:30px;
}