.menu_text{
    -fx-text-fill:blue;
}
.headlines{
    -fx-background-color:transparent;
    -fx-text-fill:blue;
    -fx-font-family: TRON;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.headlines_summery{
     -fx-background-color:transparent;
     -fx-text-fill:blue;
     -fx-font-family: TRON;
     -fx-font-size: 18px;

 }
.sub_text:hover{
    -fx-background-color:transparent;
        -fx-text-fill:blue;
        -fx-font-family: TRON;
        -fx-font-size: 15px;
        -fx-alignment:center;
}
.sub_text{
     -fx-background-color:transparent;
         -fx-text-fill:blue;
         -fx-font-family: TRON;
         -fx-font-size: 15px;
         -fx-alignment:center;
 }
.main_head{
    -fx-background-color:transparent;
            -fx-text-fill:#2976e4;
            -fx-font-family: TRON;
            -fx-font-size: 35px;
            -fx-alignment:center;
}
.error_text{
    -fx-background-color:transparent;
    -fx-text-fill:red;
    -fx-font-family: TRON;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
     -fx-alignment:center;
}
.big_number{
    -fx-background-color:transparent;
        -fx-text-fill:#ffffff;
        -fx-font-family: TRON;
        -fx-font-size: 35px;
        -fx-font-weight: bold;

}