.menu_text{
    -fx-text-fill:blue;
}
.headlines{
    -fx-background-color:transparent;
    -fx-text-fill:blue;
    -fx-font-family: TRON;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.sub_text{
    -fx-background-color:transparent;
        -fx-text-fill:#2976e4;
        -fx-font-family: TRON;
        -fx-font-size: 15px;
        -fx-font-weight: regular;
        -fx-alignment:center;
}
.main_head{
    -fx-background-color:transparent;
            -fx-text-fill:#2976e4;
            -fx-font-family: TRON;
            -fx-font-size: 35px;
            -fx-font-weight: regular;
            -fx-alignment:center;
}
.error_text{
    -fx-background-color:transparent;
    -fx-text-fill:red;
    -fx-font-family: TRON;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
     -fx-alignment:center;
}